<?xml version="1.0"?>
<!--
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Wsu
 * @package     Wsu_Centralprocessing
 * @copyright   Copyright (c) 2012+ Wsu. (http://wsu.edu)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
  <modules>
    <Wsu_Centralprocessing>
      <version>0.1.0</version>
    </Wsu_Centralprocessing>
  </modules>
  <global>
    <models>
      <centralprocessing>
        <class>Wsu_Centralprocessing_Model</class>
        <resourceModel>centralprocessing_resource</resourceModel>
      </centralprocessing>
      <centralprocessing_resource>
        <class>Wsu_Centralprocessing_Model_Resource</class>
        <deprecatedNode>centralprocessing_mysql4</deprecatedNode>
        <entities>
          <api_debug>
            <table>centralprocessing_api_debug</table>
          </api_debug>
          <settlement_report>
            <table>centralprocessing_settlement_report</table>
          </settlement_report>
          <settlement_report_row>
            <table>centralprocessing_settlement_report_row</table>
          </settlement_report_row>
          <cert>
            <table>centralprocessing_cert</table>
          </cert>
          <payment_transaction>
            <table>centralprocessing_payment_transaction</table>
          </payment_transaction>
        </entities>
      </centralprocessing_resource>
	  





  
	  
    </models>
	
	
	

	
	
    <resources>
      <centralprocessing_setup>
        <setup>
          <module>Wsu_Centralprocessing</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
      </centralprocessing_setup>
      <salesattribute_setup>
        <setup>
          <module>Wsu_Centralprocessing</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
      </salesattribute_setup>
    </resources>
    <blocks>
      <centralprocessing>
        <class>Wsu_Centralprocessing_Block</class>
      </centralprocessing>
    </blocks>
    
	
    <sales>
      <order>
        <statuses>
          <rejected translate="label">
            <label>Payment Rejected</label>
          </rejected>
        </statuses>
        <states>
          <payment_review>
            <statuses>
              <rejected />
            </statuses>
          </payment_review>
        </states>
      </order>
    </sales>
    <helpers>
      <centralprocessing>
        <class>Wsu_Centralprocessing_Helper</class>
      </centralprocessing>	  
    </helpers>

    <!--<models>
      <centralprocessing>
        <class>Wsu_Centralprocessing_Model</class>
        <resourceModel>centralprocessing_resource</resourceModel>
      </centralprocessing>
      <centralprocessing_resource>
        <class>Wsu_Centralprocessing_Model_Resource</class>
        <deprecatedNode>centralprocessing_mysql4</deprecatedNode>
        <entities>
          <api_debug>
            <table>
              centralprocessing_api_debug
            </table>
          </api_debug>
          <settlement_report>
            <table>
              centralprocessing_settlement_report
            </table>
          </settlement_report>
          <settlement_report_row>
            <table>
              centralprocessing_settlement_report_row
            </table>
          </settlement_report_row>
          <cert>
            <table>
              centralprocessing_cert
            </table>
          </cert>
          <payment_transaction>
            <table>
              centralprocessing_payment_transaction
            </table>
          </payment_transaction>
        </entities>
      </centralprocessing_resource>
    </models>-->
    
  <payment>
    <groups>
      <centralprocessing>Centralprocessing</centralprocessing>
    </groups>
  </payment>
  </global>

  <frontend>
    <!--<secure_url>
      <centralprocessing_express>/centralprocessing/express</centralprocessing_express>
      <centralprocessing_standard>/centralprocessing/standard</centralprocessing_standard>
    </secure_url>-->
    <routers>
      <centralprocessing>
        <use>standard</use>
        <args>
          <module>Wsu_Centralprocessing</module>
          <frontName>centralprocessing</frontName>
        </args>
      </centralprocessing>
	  
	  

	<checkout>
		<args>
			<modules>
				<Wsu_Centralprocessing before="Mage_Checkout">Wsu_Centralprocessing</Wsu_Centralprocessing>
			</modules>
		</args>
	 </checkout>

	  
    </routers>
    <!--<layout>
      <updates>
        <centralprocessing>
          <file>centralprocessing.xml</file>
        </centralprocessing>
      </updates>
    </layout>
    <translate>
      <modules>
        <Wsu_Centralprocessing>
          <files>
            <default>Wsu_Centralprocessing.csv</default>
          </files>
        </Wsu_Centralprocessing>
      </modules>
    </translate>
    <secure_url>
      <centralprocessing_express_callbackshippingoptions>centralprocessing/express/callbackshippingoptions</centralprocessing_express_callbackshippingoptions>
    </secure_url>-->
    <events>
      <checkout_submit_all_after>
        <observers>
          <hss_save_order_after_submit>
            <class>centralprocessing/observer</class>
            <method>saveOrderAfterSubmit</method>
          </hss_save_order_after_submit>
        </observers>
      </checkout_submit_all_after>
      <controller_action_postdispatch_checkout_onepage_saveOrder>
        <observers>
          <hss_save_order_onepage>
            <class>centralprocessing/observer</class>
            <method>setResponseAfterSaveOrder</method>
          </hss_save_order_onepage>
        </observers>
      </controller_action_postdispatch_checkout_onepage_saveOrder>
    </events>
  </frontend>
  <adminhtml>
    <events>
      <adminhtml_init_system_config>
        <observers>
          <centralprocessing>
            <class>centralprocessing/observer</class>
            <method>loadCountryDependentSolutionsConfig</method>
          </centralprocessing>
        </observers>
      </adminhtml_init_system_config>
    </events>
    <translate>
      <modules>
        <Wsu_Centralprocessing>
          <files>
            <default>Wsu_Centralprocessing.csv</default>
          </files>
        </Wsu_Centralprocessing>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <centralprocessing>
      <style>
        <logo>nowAccepting_150x60</logo>
      </style>
      <wpp>
        <api_password backend_model="adminhtml/system_config_backend_encrypted"/>
        <api_signature backend_model="adminhtml/system_config_backend_encrypted"/>
        <api_username backend_model="adminhtml/system_config_backend_encrypted"/>
        <button_flavor>dynamic</button_flavor>
      </wpp>
      <fetch_reports>
        <ftp_login backend_model="adminhtml/system_config_backend_encrypted"/>
        <ftp_password backend_model="adminhtml/system_config_backend_encrypted"/>
        <schedule>1</schedule>
        <time>00,00,00</time>
      </fetch_reports>
    </centralprocessing>
    <payment>
      <centralprocessing_express>
        <model>centralprocessing/express</model>
        <title>Central processing Checkout</title>
        <payment_action>Authorization</payment_action>
        <solution_type>Mark</solution_type>
        <line_items_enabled>1</line_items_enabled>
        <visible_on_cart>1</visible_on_cart>
        <visible_on_product>1</visible_on_product>
        <allow_ba_signup>never</allow_ba_signup>
        <group>centralprocessing</group>
        <allowspecific>0</allowspecific>
        <authorization_honor_period>3</authorization_honor_period>
        <order_valid_period>29</order_valid_period>
        <child_authorization_number>1</child_authorization_number>
        <verify_peer>1</verify_peer>
      </centralprocessing_express>
    </payment>
  </default>
  <crontab>
    <jobs>
      <centralprocessing_emailorders>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>centralprocessing/cron::emailOrders</model>
        </run>
      </centralprocessing_emailorders>
      <centralprocessing_fetch_settlement_reports>
        <run>
          <model>centralprocessing/observer::fetchReports</model>
        </run>
      </centralprocessing_fetch_settlement_reports>
    </jobs>
  </crontab>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Wsu_Centralprocessing before="Mage_Adminhtml">Wsu_Centralprocessing_Adminhtml</Wsu_Centralprocessing>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
