<?xml version="1.0"?>
<!--
/**
 * @category   Cybersource
 * @package    Wsu_Centralprocessing
 */
 -->
<config>
    <modules>
        <Wsu_Centralprocessing>
            <version>0.0.1</version>
        </Wsu_Centralprocessing>
    </modules>
    <global>
        <models>
            <centralprocessing>
                <class>Wsu_Centralprocessing_Model</class>
            </centralprocessing>
        </models>
        <resources>
			<centralprocessing_setup>
				<setup>
					<module>Wsu_Centralprocessing</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</centralprocessing_setup>
			<centralprocessing_write>
				<connection>
					<use>core_write</use>
				</connection>
			</centralprocessing_write>
			<centralprocessing_read>
				<connection>
					<use>core_read</use>
				</connection>
			</centralprocessing_read>
        </resources>
        <blocks>
            <centralprocessing>
                <class>Wsu_Centralprocessing_Block</class>
            </centralprocessing>
        </blocks>
        <helpers>
            <centralprocessing>
                <class>Wsu_Centralprocessing_Helper</class>
            </centralprocessing>
        </helpers>
		<fieldsets>
			 <sales_convert_quote_payment>
				<response_return_code>
					<to_order_payment>*</to_order_payment>
				</response_return_code>
				<response_guid>
					<to_order_payment>*</to_order_payment>
				</response_guid>
				<approval_code>
					<to_order_payment>*</to_order_payment>
				</approval_code>
				<card_type>
					<to_order_payment>*</to_order_payment>
				</card_type>
				<masked_cc_number>
					<to_order_payment>*</to_order_payment>
				</masked_cc_number>
				<cc_mode>
					<to_order_payment>*</to_order_payment>
				</cc_mode>
			 </sales_convert_quote_payment>
		</fieldsets>
    </global>
    <frontend>
        <routers>
            <centralprocessing>
                <use>standard</use>
                <args>
                    <module>Wsu_Centralprocessing</module>
                    <frontName>processing</frontName>
                </args>
            </centralprocessing>
			<checkout>
				<args>
					<modules>
						<Wsu_Centralprocessing before="Mage_Checkout">Wsu_Centralprocessing</Wsu_Centralprocessing>
					</modules>
				</args>
			</checkout>
        </routers>

        <!--<layout>
            <updates>
                <centralprocessing>
                    <file>centralprocessing.xml</file>
                </centralprocessing>
            </updates>
        </layout>-->
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
										<centralprocessing>
											<title>CyberSource Secure Acceptance WM Area</title>
										</centralprocessing>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <centralprocessing>
                <active>0</active>
				<enable_log>0</enable_log>
               	<model>centralprocessing/centralprocessing</model>
               	<title>Credit Card</title>
				<checkout_info>You will be redirected to make a payment and complete the order.</checkout_info>
                <mode>0</mode>
				<order_status>pending</order_status>
                <debug_flag>1</debug_flag>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
            </centralprocessing>
        </payment>
    </default>
</config>