<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
	   <!--
		<centralprocessing_payment_solutions translate="label comment centralprocessing_title" module="centralprocessing">
			<label>Wsu Central Processing</label>
			<sort_order>1</sort_order>
			<expanded>1</expanded>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<frontend_class>complex</frontend_class>
			<frontend_model>centralprocessing/adminhtml_system_config_fieldset_group</frontend_model>
			<comment>Add another payment method to your existing solution or as a stand-alone option.</comment>
			<centralprocessing_title>Select a Payment Solution</centralprocessing_title>
			<help_url>https://is.wsu.edu/sites/uiss/ecommerce/default.aspx</help_url>
			<fields/>
		</centralprocessing_payment_solutions>
		
		
		<centralprocessing_payments>
			<express_checkout type="group" translate="label comment">
				<label>Express Checkout</label>
				<frontend_type>text</frontend_type>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<sort_order>60</sort_order>
				<group>centralprocessing_payment_solutions</group>
				<frontend_model>centralprocessing/adminhtml_system_config_fieldset_payment</frontend_model>
				<frontend_class>pp-method-express</frontend_class>
				<include>1</include>
				<comment>Add Centralprocessing as an additional payment method to your checkout page.</comment>
				<activity_path>payment/centralprocessing_express/active</activity_path>
				<learn_more_link>https://is.wsu.edu/sites/uiss/ecommerce/default.aspx</learn_more_link>
				<backend_config>
					<US>
						<group>centralprocessing_alternative_payment_methods</group>
					</US>
					<GB translate="comment">
						<group>centralprocessing_alternative_payment_methods</group>
						<learn_more_link>https://is.wsu.edu/sites/uiss/ecommerce/default.aspx</learn_more_link>
						<demo_link></demo_link>
						<comment>Add Centralprocessing as an additional payment method to your checkout page to increase your sales.</comment>
					</GB>
				</backend_config>
				<fields>
					<express_checkout_required type="group" translate="label">
						<label>Required Centralprocessing Settings</label>
						<frontend_type>text</frontend_type>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<sort_order>10</sort_order>
						<frontend_model>centralprocessing/adminhtml_system_config_fieldset_expanded</frontend_model>
						<fields>
							<express_checkout_required_express_checkout type="group" translate="label">
								<label>Express Checkout</label>
								<frontend_type>text</frontend_type>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<frontend_model>centralprocessing/adminhtml_system_config_fieldset_expanded</frontend_model>
								<sort_order>10</sort_order>
								<fields>
									<business_account extends="//centralprocessing_payments/payflow_advanced//business_account" />
									<api_authentication extends="//centralprocessing_payments/payflow_advanced//api_authentication" />
									<api_username extends="//centralprocessing_payments/payflow_advanced//api_username" />
									<api_password extends="//centralprocessing_payments/payflow_advanced//api_password" />
									<api_signature extends="//centralprocessing_payments/payflow_advanced//api_signature" />
									<api_cert extends="//centralprocessing_payments/payflow_advanced//api_cert" />
									<api_wizard extends="//centralprocessing_payments/payflow_advanced//api_wizard" />
									<sandbox_flag extends="//centralprocessing_payments/payflow_advanced//express//sandbox_flag" />
									<use_proxy extends="//centralprocessing_payments/payflow_advanced//express//use_proxy" />
									<proxy_host extends="//centralprocessing_payments/payflow_advanced//express//proxy_host" />
									<proxy_port extends="//centralprocessing_payments/payflow_advanced//express//proxy_port" />
								</fields>
							</express_checkout_required_express_checkout>
							<enable_express_checkout translate="label">
								<label>Enable this Solution</label>
								<config_path>payment/centralprocessing_express/active</config_path>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<sort_order>20</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<shared>1</shared>
								<requires>express_checkout_required_express_checkout</requires>
								<frontend_class>centralprocessing-enabler centralprocessing-ec-enabler</frontend_class>
							</enable_express_checkout>
						</fields>
					</express_checkout_required>
					<settings_cpec type="group" translate="label">
						<label>Basic Settings - Centralprocessing Express Checkout</label>
						<frontend_type>text</frontend_type>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<frontend_model>centralprocessing/adminhtml_system_config_fieldset_expanded</frontend_model>
						<sort_order>20</sort_order>
						<fields>
							<title extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/title" />
							<sort_order extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/sort_order" />
							<payment_action extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/payment_action" />
							<visible_on_cart extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/visible_on_cart" />
							<visible_on_product extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/visible_on_product" />
							<authorization_honor_period extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/authorization_honor_period" />
							<order_valid_period extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/order_valid_period" />
							<child_authorization_number extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout/*/child_authorization_number" />

							<settings_cpec_advanced type="group" translate="label">
								<label>Advanced Settings</label>
								<frontend_class>config-advanced</frontend_class>
								<frontend_type>text</frontend_type>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
								<sort_order>80</sort_order>
								<fields>
									<allowspecific extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//allowspecific" />
									<specificcountry extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//specificcountry" />
									<debug extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//debug" />
									<verify_peer extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//verify_peer" />
									<line_items_enabled extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//line_items_enabled" />
									<transfer_shipping_options extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//transfer_shipping_options" />
									<button_flavor extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//button_flavor" />
									<solution_type extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//solution_type" />
									<require_billing_address extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//require_billing_address" />
									<allow_ba_signup extends="//centralprocessing_payments/payflow_advanced//settings_express_checkout//allow_ba_signup" />

									<express_checkout_billing_agreement type="group" translate="label">
										<label>Centralprocessing Billing Agreement Settings</label>
										<frontend_type>text</frontend_type>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
										<sort_order>100</sort_order>
										<fields>
											<active extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/active" />
											<title extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/title" />
											<sort_order extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/sort_order" />
											<payment_action extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/payment_action" />
											<allowspecific extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/allowspecific" />
											<specificcountry extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/specificcountry" />
											<debug extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/debug" />
											<verify_peer extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/verify_peer" />
											<line_items_enabled extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/line_items_enabled" />
											<allow_billing_agreement_wizard extends="//centralprocessing_payments/payflow_advanced//billing_agreement/*/allow_billing_agreement_wizard" />
										</fields>
									</express_checkout_billing_agreement>
									<express_checkout_settlement_report type="group" translate="label">
										<label>Settlement Report Settings</label>
										<frontend_type>text</frontend_type>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<sort_order>110</sort_order>
										<fields>
											<heading_sftp extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/heading_sftp" />
											<settlement_reports_ftp_login extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_ftp_login" />
											<settlement_reports_ftp_password extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_ftp_password" />
											<settlement_reports_ftp_sandbox extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_ftp_sandbox" />
											<settlement_reports_ftp_ip extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_ftp_ip" />
											<settlement_reports_ftp_path extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_ftp_path" />
											<heading_schedule extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/heading_schedule" />
											<settlement_reports_active extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_active" />
											<settlement_reports_schedule extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_schedule" />
											<settlement_reports_time extends="//centralprocessing_payments/payflow_advanced//settlement_report/*/settlement_reports_time" />
										</fields>
									</express_checkout_settlement_report>
									<express_checkout_frontend type="group" translate="label">
										<label>Frontend Experience Settings</label>
										<frontend_type>text</frontend_type>
										<show_in_default>1</show_in_default>
										<show_in_website>1</show_in_website>
										<show_in_store>1</show_in_store>
										<sort_order>120</sort_order>
										<fields>
											<logo extends="//centralprocessing_payments/payflow_advanced//frontend/*/logo" />
											<centralprocessing_pages extends="//centralprocessing_payments/payflow_advanced//frontend/*/centralprocessing_pages" />
											<page_style extends="//centralprocessing_payments/payflow_advanced//frontend/*/page_style" />
											<centralprocessing_hdrimg extends="//centralprocessing_payments/payflow_advanced//frontend/*/centralprocessing_hdrimg" />
											<centralprocessing_hdrbackcolor extends="//centralprocessing_payments/payflow_advanced//frontend/*/centralprocessing_hdrbackcolor" />
											<centralprocessing_hdrbordercolor extends="//centralprocessing_payments/payflow_advanced//frontend/*/centralprocessing_hdrbordercolor" />
											<centralprocessing_payflowcolor extends="//centralprocessing_payments/payflow_advanced//frontend/*/centralprocessing_payflowcolor" />
										</fields>
									</express_checkout_frontend>
								</fields>
							</settings_cpec_advanced>
						</fields>
					</settings_cpec>
				</fields>
			</express_checkout>
		</centralprocessing_payments>
	 -->
        <centralprocessing_express>
          <label>Wsu Central Processing</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>         
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
			<submit_url>
				<label>Gateway URL</label>
				<frontend_type>text</frontend_type>
				<sort_order>58</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>0</show_in_store>
			</submit_url>

            <merchant_id translate="label">
              <label>Merchant ID</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </merchant_id>
            <trantype translate="label">
              <label>Tran-type</label>
              <!--<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <frontend_type>obscure</frontend_type>-->
			  <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </trantype>
            <payment_action translate="label">
              <label>Payment Action</label>
              <frontend_type>select</frontend_type>
              <source_model>cybersource/source_paymentAction</source_model>
              <sort_order>5</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </payment_action>
            <order_status translate="label">
              <label>New Order Status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status_processing</source_model>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </order_status>
            <cctypes translate="label">
              <label>Credit Card Types</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>cybersource/source_cctype</source_model>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </cctypes>
            <useccv translate="label">
              <label>Credit Card Verification</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </useccv>
            <allowspecific translate="label">
              <label>Payment from Applicable Countries</label>
              <frontend_type>allowspecific</frontend_type>
              <sort_order>50</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </allowspecific>
            <specificcountry translate="label">
              <label>Payment from Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>51</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </specificcountry>
			<!--<sandbox_flag extends="//centralprocessing_payments/payflow_advanced//express//sandbox_flag" />-->
            <sandbox_flag translate="label"  extends="//centralprocessing_payments/payflow_advanced//express//sandbox_flag">
              <label>Test Mode</label>
              <frontend_type>select</frontend_type>
			  <config_path>payment/payflow_advanced/sandbox_flag</config_path>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>55</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sandbox_flag>
			<title/>
            <debug translate="label">
              <label>Debug</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>56</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </debug>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sort_order>
          </fields>
        </centralprocessing_express>
		
      </groups>
    </payment>
  </sections>
</config>
